.content-wrapper {
  max-width: 1000px;
}

img {
  max-width: 100%;
  border-radius: 20px;
  padding-bottom: 20px;
}

.recipe {
  display: flex;
  flex-direction: column;
}

.recipes-box {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 30px;
  padding-top: 30px;
}
h1 {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

a {
  text-decoration: none;
  font-size: 20px;
  font-weight: 600;
  color: rgb(51, 32, 32);
}

body {
  background-color: rgba(219, 233, 245, 0.603);
  margin-left: 50px;
}

html {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

img:hover {
  transform: scale(1.05);
  transition: all ease;
  border-radius: 15px;
  box-shadow: 0 0 5px rgb(136, 219, 140);
}
